<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Customer</title>
</head>
<body>

<h2>Edit Customer</h2>

<form th:action="@{/customers/update/{id}(id=${customer.id})}" method="post">
  Name: <input type="text" name="name" th:value="${customer.name}"/><br>
  Email: <input type="email" name="email" th:value="${customer.email}"/><br>
  Phone: <input type="text" name="phone" th:value="${customer.phone}"/><br><br>
  <button type="submit">Update</button>
</form>

<a th:href="@{/customers}">Back</a>

</body>
</html>
